.GameInfo {
  .modal {
    width: 100%;
    max-width: 800px;
    background: #1b2026;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #3c4754;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.42), 0 2px 2px 0 rgba(0,0,0,.28), 0 1px 5px 0 rgba(0,0,0,.24);
  }

  .title {
    margin: 0 0 10px 5px;
  }

  .selectable {
    color: #30a8da;
    cursor: pointer;
  }

  .list {
    margin: 15px 0;
  }
}